### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
# total budget

school_budget = school_data_complete["budget"].unique()

totalbudget = school_budget.sum()

totalbudget

24649428

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_count = len(school_data_complete["school_name"].unique())

student_count = school_data_complete["Student ID"].count()
average_Mscore = school_data_complete["math_score"].mean()
average_Rscore = school_data_complete["reading_score"].mean()

total_Mpass = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
percentMpass = total_Mpass["math_score"].count()/student_count*100

total_Rpass = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
percentRpass = total_Rpass["reading_score"].count()/student_count*100

RMpass = pd.merge(total_Mpass,total_Rpass, on="Student ID", how="inner")
totalpassRM = RMpass["Student ID"].count()
percent_totapassRM = totalpassRM/student_count*100

district_Summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": student_count, "Total Budget": totalbudget,
                              "Average Math Score": average_Mscore, "Average Reading Score": average_Rscore,
                              "%Passing Math": percentMpass, "%Passing Reading": percentRpass, 
                               "%Overal Passing": percent_totapassRM })

district_Summary["Total Students"]=district_Summary["Total Students"].map("{:,}".format)
district_Summary["Total Budget"]=district_Summary["Total Budget"].map("${:,.2f}".format)
district_Summary["%Passing Math"]=district_Summary["%Passing Math"].map("{:.2f}%".format)
district_Summary["%Passing Reading"]=district_Summary["%Passing Reading"].map("{:.2f}%".format)
district_Summary["%Overal Passing"]=district_Summary["%Overal Passing"].map("{:.2f}%".format)

district_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overal Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [20]:
school_data=school_data_complete.groupby(["school_name"])

totalstudent_perschool = school_data["Student ID"].count()
totalbudget_perschool = school_data["budget"].unique().astype(int)
budget_perstudent = totalbudget_perschool/totalstudent_perschool
averageMath_perschool = school_data["math_score"].mean()
averageReading_perschool = school_data["reading_score"].mean()
                                               
totalstudent_perschool

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [5]:
totalstudents_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]
students_perschool_mathpass = totalstudents_passing_math.groupby(["school_name"]).count()["Student ID"]
percentage_perschools_mathpass = (students_perschool_mathpass)/(totalstudent_perschool)*100

percentage_perschools_mathpass

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [6]:
totalstudents_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]
students_perschool_readingpass = totalstudents_passing_reading.groupby(["school_name"]).count()["Student ID"]
percentage_perschools_readingpass = (students_perschool_readingpass/totalstudent_perschool)*100

percentage_perschools_readingpass

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [7]:
totalstudents_passing_mathreading = school_data_complete[(school_data_complete["math_score"]>=70) & 
                                                         (school_data_complete["reading_score"]>=70)]
students_perschool_passing_mathreading = totalstudents_passing_mathreading.groupby(["school_name"]).count()["Student ID"]
percentage_perschools_passing_mathreading = (students_perschool_passing_mathreading/totalstudent_perschool)*100

percentage_perschools_passing_mathreading

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [22]:
School_Summary = pd.DataFrame({"Total Students": totalstudent_perschool, "Total School Budget": totalbudget_perschool,
                              "Per Student Budget": budget_perstudent, "Average Math Score": averageMath_perschool,
                              "Average Reading Score": averageReading_perschool, 
                               "% Passing Math": percentage_perschools_mathpass, 
                              "% Passing Reading": percentage_perschools_readingpass,
                               "% Overall Passing": percentage_perschools_passing_mathreading})

School_Summary["Total Students"]=School_Summary["Total Students"].map("{:,}".format)
School_Summary["Total School Budget"]=School_Summary["Total School Budget"].map("${:,.2f}".format)
School_Summary["Per Student Budget"]=School_Summary["Per Student Budget"].map("${:,.2f}".format)
School_Summary["Average Math Score"]=School_Summary["Average Math Score"].map("{:,.2f}".format)
School_Summary["Average Reading Score"]=School_Summary["Average Reading Score"].map("{:,.2f}".format)
School_Summary["% Passing Math"]=School_Summary["% Passing Math"].map("{:.2f}%".format)
School_Summary["% Passing Reading"]=School_Summary["% Passing Reading"].map("{:.2f}%".format)
School_Summary["% Overall Passing"]=School_Summary["% Overall Passing"].map("{:.2f}%".format)

School_Summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [23]:
top_Performing_schools = School_Summary.sort_values(["% Overall Passing"], ascending=False)

top_Performing_schools

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Wright High School,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%
Shelton High School,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Holden High School,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Bailey High School,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Ford High School,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Johnson High School,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Hernandez High School,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Huang High School,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Figueroa High School,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Rodriguez High School,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [24]:
Bottom_Performing_schools = School_Summary.sort_values(["% Overall Passing"], ascending=True)

Bottom_Performing_schools

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Ford High School,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Bailey High School,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Holden High School,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Shelton High School,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Wright High School,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%
Pena High School,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Wilson High School,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Griffin High School,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Thomas High School,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Cabrera High School,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
Student_perschool_9th = school_data_complete[(school_data_complete["grade"]=="9th")]
Student_perschool_10th = school_data_complete[(school_data_complete["grade"]=="10th")]
Student_perschool_11th = school_data_complete[(school_data_complete["grade"]=="11th")]
Student_perschool_12th = school_data_complete[(school_data_complete["grade"]=="12th")]

students_perschool_9th_avgscore = round(Student_perschool_9th.groupby(["school_name"]).mean()["math_score"],2)
students_perschool_10th_avgscore = round(Student_perschool_10th.groupby(["school_name"]).mean()["math_score"],2)
students_perschool_11th_avgscore = round(Student_perschool_11th.groupby(["school_name"]).mean()["math_score"],2)
students_perschool_12th_avgscore = round(Student_perschool_12th.groupby(["school_name"]).mean()["math_score"],2)

Grade_math_Summary = pd.DataFrame({"9th": students_perschool_9th_avgscore, "10th": students_perschool_10th_avgscore, 
                              "11th": students_perschool_11th_avgscore, "12th": students_perschool_12th_avgscore,})
Grade_math_Summary

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
students_perschool_9th_avgscore = round(Student_perschool_9th.groupby(["school_name"]).mean()["reading_score"],2)
students_perschool_10th_avgscore = round(Student_perschool_10th.groupby(["school_name"]).mean()["reading_score"],2)
students_perschool_11th_avgscore = round(Student_perschool_11th.groupby(["school_name"]).mean()["reading_score"],2)
students_perschool_12th_avgscore = round(Student_perschool_12th.groupby(["school_name"]).mean()["reading_score"],2)

Grade_Reading_Summary = pd.DataFrame({"9th": students_perschool_9th_avgscore, "10th": students_perschool_10th_avgscore, 
                              "11th": students_perschool_11th_avgscore, "12th": students_perschool_12th_avgscore,})
Grade_Reading_Summary

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [13]:
School_Summary2 = pd.DataFrame({"Total Students": totalstudent_perschool, "Total School Budget": totalbudget_perschool,
                              "Per Student Budget": budget_perstudent, "Average Math Score": averageMath_perschool,
                              "Average Reading Score": averageReading_perschool, 
                               "% Passing Math": percentage_perschools_mathpass, 
                              "% Passing Reading": percentage_perschools_readingpass,
                               "% Overall Passing": percentage_perschools_passing_mathreading})

In [14]:
bins = [0, 585, 630, 645, 675]
group_labels = ["<584", "585-629","630-644","645-675"]

School_Summary2["spending_score"] = pd.cut(School_Summary2["Per Student Budget"], bins, labels=group_labels)
schoolspending_data = School_Summary2.groupby(["spending_score"])

totalschool_spending = schoolspending_data["Total Students"].count()
averageMath_spending = schoolspending_data["Average Math Score"].mean()
averageReading_spending = schoolspending_data["Average Reading Score"].mean()
percentMath_spending = schoolspending_data["% Passing Math"].mean()
percentReading_spending = schoolspending_data["% Passing Reading"].mean()
percentBoth_spending = schoolspending_data["% Overall Passing"].mean()

In [15]:
Spending_Summary = pd.DataFrame({"Average Math Score": averageMath_spending,
                              "Average Reading Score": averageReading_spending, 
                               "% Passing Math": percentMath_spending, 
                              "% Passing Reading": percentReading_spending,
                               "% Overall Passing": percentBoth_spending})

Spending_Summary["Average Math Score"]=Spending_Summary["Average Math Score"].map("{:.2f}".format)
Spending_Summary["Average Reading Score"]=Spending_Summary["Average Reading Score"].map("{:.2f}".format)
Spending_Summary["% Passing Math"]=Spending_Summary["% Passing Math"].map("{:.2f}%".format)
Spending_Summary["% Passing Reading"]=Spending_Summary["% Passing Reading"].map("{:.2f}%".format)
Spending_Summary["% Overall Passing"]=Spending_Summary["% Overall Passing"].map("{:.2f}%".format)

Spending_Summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
spending_score,,,,,
<584,83.46,83.93,93.46%,96.61%,90.37%
585-629,81.90,83.16,87.13%,92.72%,81.42%
630-644,78.52,81.62,73.48%,84.39%,62.86%
645-675,77.00,81.03,66.16%,81.13%,53.53%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [29]:
bins = [0, 999, 1999, 4999]
group_labels = ["<1000", "1000-2000","2000-5000"]

school_data_complete["school_size"] = pd.cut(school_data_complete["size"], bins, labels=group_labels)

schoolsize_data=school_data_complete.groupby(["school_size"])

totalstudent_persize = schoolsize_data["Student ID"].count()
averageMath_perschoolsize = schoolsize_data["math_score"].mean()
averageReading_perschoolsize = schoolsize_data["reading_score"].mean()

schoolsize_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]
schoolsize_readingpass = schoolsize_passing_reading.groupby(["school_size"]).count()["Student ID"]
percentage_schoolsize_readingpass = (schoolsize_readingpass/totalstudent_persize)*100

schoolsize_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]
schoolsize_mathpass = schoolsize_passing_math.groupby(["school_size"]).count()["Student ID"]
percentage_schoolsize_mathpass = (schoolsize_mathpass/totalstudent_persize)*100

schoolsize_passing_mathreading = school_data_complete[(school_data_complete["math_score"]>=70) & 
                                                         (school_data_complete["reading_score"]>=70)]
schoolsize_passing_mathreading = schoolsize_passing_mathreading.groupby(["school_size"]).count()["Student ID"]
percentage_schoolsize_passing_mathreading = (schoolsize_passing_mathreading/totalstudent_persize)*100

In [30]:
Size_Summary = pd.DataFrame({"Average Math Score": averageMath_perschoolsize,
                              "Average Reading Score": averageReading_perschoolsize, 
                               "% Passing Math": percentage_schoolsize_mathpass, 
                              "% Passing Reading": percentage_schoolsize_readingpass,
                               "% Overall Passing": percentage_schoolsize_passing_mathreading})

Size_Summary["Average Math Score"]=Size_Summary["Average Math Score"].map("{:.2f}".format)
Size_Summary["Average Reading Score"]=Size_Summary["Average Reading Score"].map("{:.2f}".format)
Size_Summary["% Passing Math"]=Size_Summary["% Passing Math"].map("{:.2f}%".format)
Size_Summary["% Passing Reading"]=Size_Summary["% Passing Reading"].map("{:.2f}%".format)
Size_Summary["% Overall Passing"]=Size_Summary["% Overall Passing"].map("{:.2f}%".format)

Size_Summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_size,,,,,
<1000,83.83,83.97,93.95%,96.04%,90.14%
1000-2000,83.37,83.87,93.62%,96.77%,90.62%
2000-5000,77.48,81.20,68.65%,82.13%,56.57%

## Scores by School Type

* Perform the same operations as above, based on school type

In [18]:
schooltype_data=school_data_complete.groupby(["type"])

totalstudent_pertype = schooltype_data["Student ID"].count()
averageMath_perschooltype = schooltype_data["math_score"].mean()
averageReading_perschooltype = schooltype_data["reading_score"].mean()

schooltype_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]
schooltype_readingpass = schooltype_passing_reading.groupby(["type"]).count()["Student ID"]
percentage_schooltype_readingpass = (schooltype_readingpass/totalstudent_pertype)*100

schooltype_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]
schooltype_mathpass = schooltype_passing_math.groupby(["type"]).count()["Student ID"]
percentage_schooltype_mathpass = (schooltype_mathpass/totalstudent_pertype)*100

schooltype_passing_mathreading = school_data_complete[(school_data_complete["math_score"]>=70) & 
                                                         (school_data_complete["reading_score"]>=70)]
schooltype_passing_mathreading = schooltype_passing_mathreading.groupby(["type"]).count()["Student ID"]
percentage_schooltype_passing_mathreading = (schooltype_passing_mathreading/totalstudent_pertype)*100

In [19]:
Type_Summary = pd.DataFrame({"Average Math Score": averageMath_perschooltype,
                              "Average Reading Score": averageReading_perschooltype, 
                               "% Passing Math": percentage_schooltype_mathpass, 
                              "% Passing Reading": percentage_schooltype_readingpass,
                               "% Overall Passing": percentage_schooltype_passing_mathreading})

Type_Summary["Average Math Score"]=Type_Summary["Average Math Score"].map("{:.2f}".format)
Type_Summary["Average Reading Score"]=Type_Summary["Average Reading Score"].map("{:.2f}".format)
Type_Summary["% Passing Math"]=Type_Summary["% Passing Math"].map("{:.2f}%".format)
Type_Summary["% Passing Reading"]=Type_Summary["% Passing Reading"].map("{:.2f}%".format)
Type_Summary["% Overall Passing"]=Type_Summary["% Overall Passing"].map("{:.2f}%".format)

Type_Summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.41,83.90,93.70%,96.65%,90.56%
District,76.99,80.96,66.52%,80.91%,53.70%